:root {
  --dark: #2b2d42;
  --platinum: #eaeaea;
  --white: #ffffff;
  --gray: #8d99ae;
  --green: #a7f1dc;
  --salmon: #ff858d;
  --orange: #e9c46a;
  --orange-hover: #e6b740;
}
* {
  font-size: 14px;
}
.product-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.btn.border {
  background-color: var(--orange);
}
.btn.border:hover {
  background-color: var(--orange-hover);
}
#btn-continue-buying {
  background-color: #9ea190;
}
#btn-continue-buying:hover {
  background-color: #8d927a;
}
.container-fluid.py-5.align-item-center.justify-content-center {
  background-image: url(tom-crew-YA2E3d7a9Wo-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 13rem;
}
