#mainBar {
	height: 3rem;
}
#categoryBar {
	height: 2rem;
}

#categoryBar > div {
	justify-content: space-evenly !important;
}

#sobreEsteProyecto {
	border-radius: 0px 0px 0px 2rem;
	background-color: var(--salmon);
	color: white !important;
}
