#mainBar {
	height: 3rem;
}
#categoryBar {
	height: 2rem;
}

#categoryBar > div {
	justify-content: space-evenly !important;
}

#sobreEsteProyecto {
	position: fixed;
	z-index: 2;
	border-radius: 0px 0px 2rem 0px;
	padding-left: 0.5rem;
	background-color: var(--accent);
	color: white !important;
	font-size: large;
}

#sobreEsteProyecto:hover {
	transition: all 0.4s ease-in;
	transform: scale(1.05);
	filter: brightness(95%);
}

#search {
	margin-right: 5rem;
}

#search:active,
#search:focus {
	box-shadow: none;
	border: 1px solid gray;
}

.bi-search {
	right: 7rem;
	bottom: 0.5rem;
}
