:root {
  --dark: #2b2d42;
  --platinum: #eaeaea;
  --white: #ffffff;
  --gray: #8d99ae;
  --green: #a7f1dc;
  --salmon: #ff858d;
  --orange: #e9c46a;
}
* {
  color: var(--dark);
}

.categorys-img {
  object-fit: cover;
  height: 114px;
  width: 114px;
}
.destacados-img {
  object-fit: cover;
  height: 200px;
}
.bg-verdeagua {
  background: var(--green);
}
.h-100px {
  height: 100px;
}
#h1::after {
  content: " ";
  display: block;
  height: 100px; /* altura de la franja */
  width: 100%; /* ancho de la franja */
  background-color: var(--green); /* color de la franja */
  position: absolute;
  z-index: 1;
}
