.menuDashboard {
  max-width: 100px;
  height: 100vh;
  padding: 20px;
}

.tituloSidebar {
  color: azure;
  font-size: x-large;
  margin-top: 10rem;
}

.botonAdmin {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1040;
  display: inline-block;
  width: 100px;
}

.volver {
  color: beige;
  margin-top: 4rem;
  font-size: large;
  text-decoration: none;
}

.volver:hover {
  text-decoration: none;
  color: #e0e0e0;
  border-radius: 8px;
  font-size: 20px;
  background-color: var(--tertiary);
  width: 300px;
}

.adminButtons {
  margin-left: 1rem;
  color: black;
  margin-top: 3rem;
  color: whitesmoke;
  font-size: large;
  cursor: pointer;
  text-decoration: none;
  width: 300px;
}

.adminButtons:hover {
  text-decoration: none;
  background-color: var(--tertiary);
  border-radius: 8px;
  align-items: center;
  width: 300px;
  background-size: cover;
  color: #e0e0e0;
  text-shadow: beige;
  cursor: pointer;
  font-size: 20px;
}

#menu {
  background-color: #848c7c;
  border-color: #9ea190;
}

#menu i {
  margin-right: 20px;
  font-size: 25px;
}

#menu span {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu .menuDashboard .open span {
  display: block;
  transition: opacity 0.3s ease;
  width: auto;
}

#menu:hover {
  transform: scale(1.01);
  text-emphasis-color: blue;
}

.toggle {
  size: 2rem;
}

.iconos {
  margin-right: 1rem;
}
