.menuDashboard {
  max-width: 100px;
  height: 100vh;
  padding: 20px;
}
.tituloSidebar {
  color: azure;
  font-size: x-large;
  margin-top: 2rem;
}

.topMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.botonAdmin {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1040;
  display: inline-block;
  width: 100px;
}

.volver {
  color: beige;
  margin-top: 4rem;
  font-size: large;
}

.hr {
  border: none;
  border-left: 0.125rem solid hsla(200, 10%, 50%, 100);
  height: 5%;
  width: 0.125rem;
}

.volver:hover {
  text-decoration: none;
  color: #e0e0e0;
}

.adminButton {
  margin-left: 1rem;
  color: black;
  margin-top: 3rem;
  color: whitesmoke;
  font-size: large;
  cursor: pointer;
}

.adminButton:hover {
  text-decoration: none;
  background-color: var(--tertiary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 210px;
  background-size: cover;
  color: #e0e0e0;
  text-shadow: beige;
  text-decoration: double;
  text-shadow: #c7e1ff;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

#menu {
  background-color: #848c7c;
  border-color: #9ea190;
}

#menu i {
  margin-right: 20px;
  font-size: 25px;
}

#menu span {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu .menuDashboard .open span {
  display: block;
  transition: opacity 0.3s ease;
  width: auto;
}

#menu:hover {
  transform: scale(1.01);
  text-emphasis-color: blue;
}

.toggle {
  size: 2rem;
}

.iconos {
  margin-right: 1rem;
}
