@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--dark: #383a48;
	--platinum: #eaeaea;
	--white: #ffffff;
	--gray: #8d99ae;
	--green: #a7f1dc;
	--salmon: #ffb8bd;
	--orange: #ffeab6;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

* {
	font-family: "Nunito", sans-serif;
}
