.modal-left .modal-dialog {
  margin-right: auto;
  margin-left: 0;
}
.modal-content {
  border-radius: 0;
}
.fade.modal.show {
  padding: 0;
}
.w-6rem {
  width: 6rem;
}
.w-22rem {
  width: 22rem;
}
